@charset "utf-8";
body {
  background: #f5f8fa;
}
.content {
  max-width: 500px;
  background: #f5f8fa;
  overflow: hidden;
}
.textcen {
  text-align: center;
}
.pore {
  position: relative;
}
.poab {
  position: absolute;
}
.bgz {
  background: #1b1b1b;
}
.colbl {
  color: #436cfd;
}
.bor1b {
  border: 1px solid #436cfd;
}
.bgbtn {
  background: #3d87ff !important;
}
.colz {
  color: #1b1b1b;
}
.colp {
  color: #ef6353;
}
.fr {
  float: right;
}
.fl {
  float: left;
}
.bol5 {
  border-left: 5px solid #1b1b1b;
}
.bgza {
  background: rgba(27, 27, 27, 0.8);
}
.bgb {
  background: #fff !important;
}
.bgr {
  background: #F5092C;
}
.bgf {
  background: #f1f1f1;
}
.colb {
  color: #FFFFFF !important;
}
.cole {
  color: #767676;
}
.mat10 {
  margin-top: 10px !important;
}
.texovh {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.disf {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
}
.colg {
  color: #42bdcc;
}
.colr {
  color: #F5092C !important;
}
.bgr {
  background: #F5092C !important;
}
.disn {
  display: none !important;
}
.ovhid {
  overflow: hidden;
}
.textrig {
  text-align: right;
}
.mar60 {
  margin-right: 60px;
}
.borbtn {
  color: #ef6353;
  padding: 5px 20px;
  border-radius: 4px;
  border: 1px solid #ef6353;
}
.bobtn {
  line-height: 25px;
}
.borbtnh {
  color: #333;
  padding: 5px 20px;
  border-radius: 4px;
  border: 1px solid #333;
}
.botarea {
  height: 50px;
  position: fixed;
  bottom: 0px;
  width: 100%;
}
.check {
  background: url('../img/check.png') 0px center no-repeat transparent;
  background-size: 20px 20px;
}
.check.on {
  background: url('../img/checkon.png') 0px center no-repeat transparent;
  background-size: 20px 20px;
}
.bora50 {
  border-radius: 50%;
}
header {
  height: 50px;
  line-height: 50px;
  position: fixed;
  top: 0px;
  z-index: 8;
  width: 100%;
  text-align: center;
  background: #1b1b1b;
  padding: 0px 50px;
}
header span.local {
  padding: 25px;
  height: 50px;
  line-height: 50px;
  background: url('../img/msg.png') 10px center no-repeat;
  background-size: 24px 24px;
}
header span.rigshe {
  padding: 25px;
  background: url('../img/rigshe.png') center center no-repeat transparent;
  background-size: 6px 20px;
}
.jiaob {
  top: 7px;
  right: 8px;
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.searchdiv {
  height: 30px;
  border-radius: 8px;
  overflow: hidden;
  background: #8d8d8d;
}
.searchdiv input {
  color: #fff;
  padding-left: 10px;
  width: 100%;
  padding-right: 50px;
  top: 0px;
  left: 0px;
  bottom: 0px;
  background: #8d8d8d;
}
.search {
  padding: 15px 20px;
  background: url('../img/iconsou.png') center center no-repeat transparent;
  background-size: 18px 18px;
}
.pfr {
  position: absolute;
  right: 0px;
  top: 0px;
}
.pfl {
  position: absolute;
  left: 0px;
  top: 0px;
}
span.left {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 50px;
  padding-left: 36px;
  background: url('../img/left.png') 13px center no-repeat transparent;
  background-size: 10px 20px;
}
span.left.hei {
  color: #000000;
  text-align: center;
  background: url('../img/lefth.png') 13px center no-repeat transparent;
  background-size: 15px 20px;
}
.label {
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  margin-top: 10px;
}
footer {
  height: 60px;
  position: fixed;
  bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
  border-top: 1px solid #D8D8D8;
}
footer > div {
  color: #767676;
  width: 20%;
  padding-top: 40px;
}
footer > div.on {
  color: #FFFFFF !important;
}
footer > div:nth-child(1) {
  background: url('../img/fter1.png') center 10px no-repeat transparent;
  background-size: auto 30px;
}
footer > div:nth-child(1).on {
  background: url('../img/fter1on.png') center 10px no-repeat transparent;
  background-size: auto 30px;
}
footer > div:nth-child(2) {
  background: url('../img/fter2.png') center 10px no-repeat transparent;
  background-size: auto 30px;
}
footer > div:nth-child(2).on {
  background: url('../img/fter2on.png') center 10px no-repeat transparent;
  background-size: auto 30px;
}
footer > div:nth-child(3) {
  background: url('../img/fter3.png') center 10px no-repeat transparent;
  background-size: auto 30px;
}
footer > div:nth-child(3).on {
  background: url('../img/fter3on.png') center 10px no-repeat transparent;
  background-size: auto 30px;
}
footer > div:nth-child(4) {
  background: url('../img/fter4.png') center 10px no-repeat transparent;
  background-size: auto 30px;
}
footer > div:nth-child(4).on {
  background: url('../img/fter4on.png') center 10px no-repeat transparent;
  background-size: auto 30px;
}
footer > div:nth-child(5) {
  background: url('../img/fter5.png') center 10px no-repeat transparent;
  background-size: auto 30px;
}
footer > div:nth-child(5).on {
  background: url('../img/fter5on.png') center 10px no-repeat transparent;
  background-size: auto 30px;
}
footer > div span {
  font-size: 10px;
  display: block;
  text-align: center;
}
.line {
  padding: 0px 5px;
  margin-top: 20px;
  background: #fff !important;
}
.line input {
  width: auto;
}
.line > div {
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #d8d8d8;
  padding-left: 40px;
}
.line > div:last-child {
  border-bottom: 0px;
}
.getcode {
  margin-top: 10px;
  height: 30px;
  line-height: 30px;
  padding: 0px 10px;
  float: right;
  color: #FFFFFF !important;
  text-align: center;
  background: #1b1b1b;
  border-radius: 4px;
}
.big-btn {
  font-size: 18px;
  width: 90%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #FFFFFF !important;
  margin-left: 5%;
  border-radius: 4px;
}
.unlock {
  background: url('../img/ys.png') 10px center no-repeat transparent;
  background-size: 25px 30px;
}
.phone {
  background: url('../img/email.png') 10px center no-repeat transparent;
  background-size: 25px 30px;
}
.code {
  background: url('../img/codeh.png') 10px center no-repeat transparent;
  background-size: 25px 30px;
}
.icontshh {
  padding-left: 30px;
  background: url('../img/tshh.png') 0px center no-repeat transparent;
  background-size: 20px 20px;
}
.iconrmsc {
  padding-left: 30px;
  background: url('../img/rmsc.png') 0px center no-repeat transparent;
  background-size: 20px 20px;
}
.iconsys {
  padding: 20px 10px 20px 80px;
  background: url('../img/iconsys.png') 20px center no-repeat transparent;
  background-size: 50px 50px;
}
.iconord {
  padding: 20px 10px 20px 80px;
  background: url('../img/iconord.png') 20px center no-repeat transparent;
  background-size: 50px 50px;
}
.iconv {
  padding: 20px 25px;
  border-left: 1px solid #E3E3E3;
  background: url('../img/v.png') 10px center no-repeat transparent;
  background-size: 20px 20px;
}
.iconv.on {
  background: url('../img/h.png') 10px center no-repeat transparent;
  background-size: 20px 20px;
}
.iconsanj {
  padding-right: 15px;
  background: url('../img/sanj.png') right center no-repeat transparent;
  background-size: 10px 10px;
}
.iconsanj.on {
  color: #ef6353;
  background: url('../img/sanjon.png') right center no-repeat transparent;
  background-size: 10px 10px;
}
.unum {
  display: inline-block;
  top: 10px;
  left: 65px;
  background: #FF4444;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}
.right {
  padding: 8px 10px;
  background: url('../img/right.png') 5px center no-repeat transparent;
  background-size: 8px 15px;
}
.xqnav {
  padding-bottom: 10px;
  color: #666666;
  font-size: 10px;
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
  background: #fff !important;
}
.xqnav > div {
  width: 25%;
  margin-top: 10px;
}
.xqnav > div img {
  width: 50%;
  margin-left: 25%;
}
.xqnav > div span {
  margin-top: 5px;
  display: block;
  text-align: center;
}
.ad {
  overflow: hidden;
}
.ad > div {
  height: 180px;
}
.ad .tshhlef {
  float: left;
  margin-left: -2px;
  width: 60%;
}
.ad .tshhlef .top {
  height: 80px;
}
.ad .bot {
  margin-top: 2px;
}
.ad .bot div {
  height: 98px;
  width: 50%;
  overflow: hidden;
}
.ad .bot .botl {
  float: left;
  margin-left: -2px;
}
.ad .bot .botr {
  float: right;
}
.ad .tshhrig {
  float: right;
  width: 40%;
}
.ad img {
  width: 100%;
  height: 100%;
}
.ad2 div {
  float: left;
  width: 20%;
  height: 125px;
  margin-left: 2px;
}
.ad2 div:nth-child(4n+1) {
  margin-left: -3px;
  width: 40%;
}
.ad2 div:nth-child(4n) {
  float: right;
  margin-right: -3px;
}
.ad2 img {
  height: 100%;
  width: 100%;
}
.ad3 div {
  float: left;
  width: 25%;
  height: 100px;
  margin-left: 2px;
}
.ad3 div:nth-child(4n+1) {
  margin-left: -3px;
}
.ad3 div:nth-child(4n) {
  float: right;
  margin-right: -3px;
}
.ad3 img {
  height: 100%;
  width: 100%;
}
.goodlist {
  margin-bottom: 20px;
}
.topbar {
  padding-right: 50px;
}
.goodh {
  width: 50%;
  padding: 20px 0px 10px;
  margin-bottom: 6px;
}
.goodh:nth-child(2n+1) {
  float: left;
  margin-left: -3px;
}
.goodh:nth-child(2n) {
  float: right;
  margin-right: -3px;
}
.goodh .imgbag {
  width: 100%;
  max-height: 250px;
  overflow: hidden;
}
.goodh .imgbag img {
  width: 100%;
  max-height: 250px;
}
.goodh .goodname {
  height: 40px;
  overflow: hidden;
}
.good {
  height: 120px;
}
.good .imgbag {
  float: left;
  width: 30%;
  height: 120px;
  overflow: hidden;
}
.good .imgbag img {
  height: 120px;
}
.good .pad0-10 {
  height: 120px;
  border-bottom: 1px solid #E3E3E3;
  padding-top: 15px;
}
.good > div {
  overflow: hidden;
}
.good .goodname {
  height: 40px;
  overflow: hidden;
}
.tab {
  overflow: hidden;
}
.classify {
  float: left;
  width: 25%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.classify div {
  text-align: center;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #e5e5e5;
}
.classify div.on {
  background: #fff !important;
}
.conmain {
  float: right;
  width: 75%;
}
.conmain > div {
  padding: 0px 10px;
}
.conmain .contitle {
  height: 30px;
  line-height: 30px;
}
.conmain .warelist {
  background: #fff !important;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
}
.wh20 {
  line-height: 16px;
  text-align: center;
  width: 20px;
  height: 20px;
}
.gohead {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.gohead img {
  width: 100%;
  height: 100%;
}
.sanjia {
  display: inline-block;
  padding: 0px 20px;
}
.sanjia:after {
  content: "";
  display: block;
  position: absolute;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #fff;
  right: 5px;
  top: 20px;
}
.ware {
  width: 33.33%;
}
.ware img {
  width: 100%;
}
.ware span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  left: 50%;
  transform: translateX(-50%);
  top: 65%;
}
.shopobj {
  margin-bottom: 10px;
}
.shopobj .shop {
  height: 90px;
}
.shopobj .shop img {
  height: 50px;
  width: 50px;
}
.shopobj .shop .shopdec {
  margin-left: 10px;
  display: inline-block;
  height: 50px;
}
.slgoods .slgood {
  padding-bottom: 20px;
  width: 25%;
}
.slgoods .slgood img {
  width: 90%;
}
.slgoods .slgood .slgprice {
  right: 5px;
  bottom: 20px;
  padding: 0px 5px;
}
