@charset "utf-8";
body {
  background: #f5f8fa;
}
.content {
  max-width: 500px;
  margin: 0px auto 50px;
  background: #f5f8fa;
  overflow: hidden;
}
.textcen {
  text-align: center;
}
.pore {
  position: relative;
}
.poab {
  position: absolute;
}
.bgz {
  background: #1b1b1b;
}
.bgbtn {
  background: #3d87ff !important;
}
.colz {
  color: #1b1b1b;
}
.colp {
  color: #ef6353;
}
.fr {
  float: right;
}
.fl {
  float: left;
}
.bol5 {
  border-left: 5px solid #1b1b1b;
}
.bgza {
  background: rgba(27, 27, 27, 0.8);
}
.bgb {
  background: #fff !important;
}
.bgr {
  background: #F5092C;
}
.bgf {
  background: #f2f2f2;
}
.colb {
  color: #FFFFFF !important;
}
.cole {
  color: #767676;
}
.mat10 {
  margin-top: 10px !important;
}
.texovh {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.disf {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
}
.colg {
  color: #42bdcc;
}
.colr {
  color: #F5092C !important;
}
.bgr {
  background: #F5092C !important;
}
.disn {
  display: none !important;
}
.ovhid {
  overflow: hidden;
}
.textrig {
  text-align: right;
}
.mar60 {
  margin-right: 60px;
}
.borbtn {
  color: #ef6353;
  padding: 5px 20px;
  border-radius: 4px;
  border: 1px solid #ef6353;
}
.borbtnh {
  color: #333;
  padding: 5px 20px;
  border-radius: 4px;
  border: 1px solid #333;
}
.botarea {
  height: 50px;
  position: fixed;
  bottom: 0px;
  width: 100%;
}
.check {
  background: url('../img/check.png') 0px center no-repeat transparent;
  background-size: 20px 20px;
}
.check.on {
  background: url('../img/checkon.png') 0px center no-repeat transparent;
  background-size: 20px 20px;
}
header {
  height: 50px;
  line-height: 50px;
  position: fixed;
  top: 0px;
  z-index: 8;
  width: 100%;
  text-align: center;
  background: #1b1b1b;
  padding: 0px 50px 0px 75px;
}
header span.local {
  padding: 25px;
  height: 50px;
  line-height: 50px;
  background: url('../img/msg.png') 10px center no-repeat;
  background-size: 24px 24px;
}
header span.local.on {
  height: 50px;
  line-height: 50px;
  background: url('../img/hasmsg.png') 10px center no-repeat;
  background-size: 24px 24px;
}
.searchdiv {
  height: 30px;
  border-radius: 8px;
  overflow: hidden;
  background: #8d8d8d;
}
.searchdiv input {
  color: #fff;
  padding-left: 10px;
  width: 100%;
  padding-right: 50px;
  top: 0px;
  left: 0px;
  bottom: 0px;
  background: #8d8d8d;
}
.search {
  padding: 15px 20px;
  background: url('../img/iconsou.png') center center no-repeat transparent;
  background-size: 18px 18px;
}
.pfr {
  position: absolute;
  right: 0px;
  top: 0px;
}
.pfl {
  position: absolute;
  left: 0px;
  top: 0px;
}
span.left {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 50px;
  padding-left: 36px;
  background: url('../img/left.png') 13px center no-repeat transparent;
  background-size: 10px 20px;
}
span.left.hei {
  color: #000000;
  text-align: center;
  background: url('../img/lefth.png') 13px center no-repeat transparent;
  background-size: 15px 20px;
}
.label {
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  margin-top: 10px;
}
footer {
  height: 60px;
  position: fixed;
  bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
  border-top: 1px solid #D8D8D8;
}
footer > div {
  color: #767676;
  width: 20%;
  padding-top: 40px;
}
footer > div.on {
  color: #FFFFFF !important;
}
footer > div:nth-child(1) {
  background: url('../img/fter1.png') center 10px no-repeat transparent;
  background-size: auto 30px;
}
footer > div:nth-child(1).on {
  background: url('../img/fter1on.png') center 10px no-repeat transparent;
  background-size: auto 30px;
}
footer > div:nth-child(2) {
  background: url('../img/fter2.png') center 10px no-repeat transparent;
  background-size: auto 30px;
}
footer > div:nth-child(2).on {
  background: url('../img/fter2on.png') center 10px no-repeat transparent;
  background-size: auto 30px;
}
footer > div:nth-child(3) {
  background: url('../img/fter3.png') center 10px no-repeat transparent;
  background-size: auto 30px;
}
footer > div:nth-child(3).on {
  background: url('../img/fter3on.png') center 10px no-repeat transparent;
  background-size: auto 30px;
}
footer > div:nth-child(4) {
  background: url('../img/fter4.png') center 10px no-repeat transparent;
  background-size: auto 30px;
}
footer > div:nth-child(4).on {
  background: url('../img/fter4on.png') center 10px no-repeat transparent;
  background-size: auto 30px;
}
footer > div:nth-child(5) {
  background: url('../img/fter5.png') center 10px no-repeat transparent;
  background-size: auto 30px;
}
footer > div:nth-child(5).on {
  background: url('../img/fter5on.png') center 10px no-repeat transparent;
  background-size: auto 30px;
}
footer > div span {
  font-size: 10px;
  display: block;
  text-align: center;
}
.line {
  padding: 0px 5px;
  margin-top: 20px;
  background: #fff !important;
}
.line input {
  width: auto;
}
.line > div {
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #d8d8d8;
  padding-left: 40px;
}
.line > div:last-child {
  border-bottom: 0px;
}
.getcode {
  margin-top: 10px;
  height: 30px;
  line-height: 30px;
  padding: 0px 10px;
  float: right;
  color: #FFFFFF !important;
  text-align: center;
  background: #1b1b1b;
  border-radius: 4px;
}
.big-btn {
  font-size: 18px;
  width: 90%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #FFFFFF !important;
  margin-left: 5%;
  border-radius: 4px;
}
.unlock {
  background: url('../img/ys.png') 10px center no-repeat transparent;
  background-size: 25px 30px;
}
.phone {
  background: url('../img/email.png') 10px center no-repeat transparent;
  background-size: 25px 30px;
}
.code {
  background: url('../img/codeh.png') 10px center no-repeat transparent;
  background-size: 25px 30px;
}
.icontshh {
  padding-left: 30px;
  background: url('../img/tshh.png') 0px center no-repeat transparent;
  background-size: 20px 20px;
}
.iconrmsc {
  padding-left: 30px;
  background: url('../img/rmsc.png') 0px center no-repeat transparent;
  background-size: 20px 20px;
}
.xqnav {
  padding-bottom: 10px;
  color: #666666;
  font-size: 10px;
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
  background: #fff !important;
}
.xqnav > div {
  width: 25%;
  margin-top: 10px;
}
.xqnav > div img {
  width: 50%;
  margin-left: 25%;
}
.xqnav > div span {
  margin-top: 5px;
  display: block;
  text-align: center;
}
.ad {
  overflow: hidden;
}
.ad > div {
  height: 180px;
}
.ad .tshhlef {
  float: left;
  margin-left: -2px;
  width: 60%;
}
.ad .tshhlef .top {
  height: 80px;
}
.ad .bot {
  margin-top: 2px;
}
.ad .bot div {
  height: 98px;
  width: 50%;
  overflow: hidden;
}
.ad .bot .botl {
  float: left;
  margin-left: -2px;
}
.ad .bot .botr {
  float: right;
}
.ad .tshhrig {
  float: right;
  width: 40%;
}
.ad img {
  width: 100%;
  height: 100%;
}
.ad2 div {
  float: left;
  width: 20%;
  height: 125px;
  margin-left: 2px;
}
.ad2 div:nth-child(4n+1) {
  margin-left: -3px;
  width: 40%;
}
.ad2 div:nth-child(4n) {
  float: right;
  margin-right: -3px;
}
.ad2 img {
  height: 100%;
  width: 100%;
}
.ad3 div {
  float: left;
  width: 25%;
  height: 100px;
  margin-left: 2px;
}
.ad3 div:nth-child(4n+1) {
  margin-left: -3px;
}
.ad3 div:nth-child(4n) {
  float: right;
  margin-right: -3px;
}
.ad3 img {
  height: 100%;
  width: 100%;
}
.goodlist {
  margin-bottom: 20px;
}
.good {
  width: 50%;
  padding: 20px 0px 10px;
  margin-bottom: 6px;
}
.good:nth-child(2n+1) {
  float: left;
  margin-left: -3px;
}
.good:nth-child(2n) {
  float: right;
  margin-right: -3px;
}
.good .imgbag {
  width: 100%;
  max-height: 250px;
  overflow: hidden;
}
.good .imgbag img {
  width: 100%;
  max-height: 250px;
}
.good .goodname {
  height: 40px;
  overflow: hidden;
}
